<ion-tabs color="danger">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="historial">
      <ion-icon name="list"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="informes">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Informes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recordatorio">
      <ion-icon name="alarm"></ion-icon>
      <ion-label>Recordatorio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
