@font-face {
    font-family: 'mifuture';
    src: url('/assets/fonts/futur.ttf') format("truetype");
    font-weight: normal;
  }


  @font-face {
    font-family: 'oswald';
    src: url('/assets/fonts/Oswald.ttf') format("truetype");
    font-weight: normal;
  }

