
.fullheight {
    height: 100%;
  }
  
  .xc {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo{
      padding-bottom: 25px;
  }


.line-input {
    margin-bottom: 0 !important;
    background: transparent !important;
    ion-item {
        --border-color: transparent !important;
        --highlight-height: 0;
        border: 1px solid var(--ion-color-secondary);
        margin-bottom: 10px;
        border-radius: 4px;
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e !important;
            font-weight: 300;
            font-size: 1rem !important;
        }
    
    }
}