

 
//   h4{
//     font-family: 'mifuture', sans-serif;
//     font-weight: bold;
    
    
// }

h1, h4{
  font-family: 'mifuture', sans-serif;
    font-weight: bold;
    color: var(--ion-color-primary);
    

}

h4{
  font-size: 15;

}

.card-home{
  padding: 45px 5px;
    border-radius: 28px;
}

.icon-home{
  font-size: 40px;
  padding-bottom: 8px;
}

