<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Vehículo</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="eliminar()" expand="block" fill="clear" shape="round">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="guardar()">
        
        <ion-icon name="save"></ion-icon>
       
      </ion-button>
     
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- List Inset Lines -->
  <ion-list *ngIf="!loading" lines="full">
    <!-- <ion-item>
      <ion-col class="ion-text-center">
        <p>RECETA # 25</p>
      </ion-col>
    </ion-item> -->

    <form [formGroup]="carForm">


      <ion-card color="tertiary">
        <ion-card-content>
          <ion-item color="tertiary">
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select value="peperoni" formControlName="tipo" multiple="false" placeholder="Tipo de Vehículo">
              <ion-select-option value="camion">Camión</ion-select-option>
              <ion-select-option value="camioneta">Camioneta</ion-select-option>
              <ion-select-option value="auto">Automovil</ion-select-option>
              <ion-select-option value="moto">Moto</ion-select-option>
              <ion-select-option value="bici">Bicicleta</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="stacked">Nombre</ion-label>
            <ion-input formControlName="nombre" type="text" placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Unidades</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item color="tertiary">
            <ion-label position="stacked">Distancia</ion-label>
            <ion-select value="peperoni" multiple="false" formControlName="unidadDistancia" placeholder="Distancia">
              <ion-select-option value="kilometros">Kilómetros</ion-select-option>
              <ion-select-option value="millas">Millas</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="stacked">Combustible</ion-label>
            <ion-select value="peperoni" multiple="false" formControlName="unidadCombustible" placeholder="Distancia">
              <ion-select-option value="litros">Litros</ion-select-option>
              <ion-select-option value="galones">Galones</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-card-content>
      </ion-card>

      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Combustible</ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item color="tertiary">
            <ion-label position="stacked">Tipo Combustible</ion-label> <br>
            <ion-select value="peperoni" formControlName="tipoCombustible" multiple="false"
              placeholder="Tipo de Vehículo">
              <ion-select-option value="gasolinaSuper">Gasolina Super</ion-select-option>
              <ion-select-option value="gasolinaExtra">Gasolina Extra</ion-select-option>
              <ion-select-option value="diesel">Diesel</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>

      </ion-card>

      <ion-card color="tertiary">
        <ion-card-header>
          <ion-card-title>Infomración Opcional</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-item color="tertiary">
            <ion-label position="stacked">Marca</ion-label>
            <ion-input formControlName="marca" type="text" placeholder="Marca"></ion-input>

          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="stacked">Modelo</ion-label>
            <ion-input formControlName="modelo" type="text" placeholder="Modelo"></ion-input>
          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="stacked">Año</ion-label>
            <ion-input formControlName="año" type="text" placeholder="Modelo"></ion-input>
          </ion-item>
          <ion-item color="tertiary">
            <ion-label position="stacked">Matrícula</ion-label>
            <ion-input formControlName="matricula" type="text" placeholder="Modelo"></ion-input>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </form>
 
  </ion-list>
  <ion-progress-bar *ngIf="loading" color="primary" type="indeterminate"></ion-progress-bar>
 
</ion-content>